.filterbar {
    display: flex;
    align-items: center;
    font-family: 'Arial Standard', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.filterbarDt {
    height: 52px;
    width: 1110px;
    border: 2px solid rgba(98, 36, 128, 1);
}

.filterbarIVol {
    height: 44px;
    width: 504px;
    border: 2px solid rgba(2, 167, 240, 1);
}

.filterStaticText {
    margin: 0 12px;
    min-width: 65px;
}

.filterElement {
    margin: 0 8px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(2, 167, 240, 1);
    background: rgba(2, 167, 240, 0.2);
    border-radius: 12px;
    cursor: default;
}

.filterElementDt {
    padding: 12px;
}

.filterElementIVol {
    padding: 10px;
}

.filterTextPanel {
    display: flex;
}

.filterKey {
    margin-right: 4px;
}

.removeFilterBtn {
    margin-left: 8px;
    height: 16px;
    width: 16px;
    padding-right: 8px;
    cursor: pointer;
}

.addFilterBtn {
    margin-left: 8px;
    background-color: white;
    border: 2px solid rgba(2, 167, 240, 0.5);
    min-width: 52px;
    cursor: pointer;
}


/* Filter Suggestions */
.filterListPanel {
    position: relative;
    top: 60px;
}

.suggestionsTextPanel {
    position: relative;
    top: 61px;
    display: flex;
}

.suggestionFiltername {
    margin-right: 8px;
    padding-top: 8px;
}

.suggestionTextValuesPanel {
    width: 120px;
    height: 150px;
    overflow-y: scroll;
    border: 1px solid black;
    z-index: 5;
    background-color: white;
}

.suggestionValueElement {
    padding: 8px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.suggestionValueElement:hover {
    font-weight: 700px;
    background-color: rgba(2, 167, 240, 0.5);
}

.suggestionsRangePanel {
    position: relative;
    top: 45px;
    display: flex;
}

.suggestionRangeValuesPanel {
    width: 160px;
    height: 94px;
    padding: 12px;
    text-align: right;
    overflow-y: scroll;
    border: 1px solid black;
    z-index: 5;
    background-color: white;
}

.suggestionRangeFilterLine {
    display: flex;
    text-align: left;
    padding-top: 8px;
}

.suggestionRangeValueLabel {
    margin-right: 8px;
    width: 60px;
}

.suggestionRangeValueInput {
    width: 100px;
}

.suggestionRangeBtn {
    margin-top: 12px;
}